@import "core/tools/tools";

.about {
  @media #{$notebook} {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    flex-basis: 50%;
  }

  &__picture {
    flex-basis: 47%;
    @media #{$tablet} {
      & img {
        margin: auto;
      }
    }
  }

  &__title {
    font-size: $title-font-size-mobile;
    color: $orange;
    @media #{$mobile} {
      font-size: $title-font-size-desktop;
    }
  }
  &__sub-title {
    line-height: 1.536rem;
    font-weight: bold;
    padding-top: 1rem;
  }
  &__text {
    line-height: 1.75rem;
    padding: 2rem 0;
    &--italic {
      font-style: italic;
      padding-top: 0;
    }
  }
}
