@import "core/tools/tools";


.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  &__text {
    color: $secondary-text;
    line-height: 1.3rem;
    & a {
      color: $orange;
    }
  }
}
