@import "core/tools/tools";

.service {

  &__item {
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    &:first-child {
      padding-top: 0;
    }
    @media #{$notebook} {
      flex-basis: 30.5%;
      padding-top: 0;
      padding-bottom: 3rem;
      &:nth-child(4) {
         padding-bottom: 0;
       }
      &:nth-child(5) {
        padding-bottom: 0;
      }
      &:nth-child(6) {
        padding-bottom: 0;
      }
    }
  }
  &__img {
    background: $orange;
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    @media #{$small-mobile} {
      width:4.375rem;
      height: 4.375rem;
    }
  }
  &__icon {
    color: $secondary-text;
    margin: auto;
    @media #{$small-mobile} {
      font-size: $title-font-size-tablet;
    }
  }
  &__description {
    flex-basis: 72%;
    @media #{$small-mobile} {
      flex-basis: 70%;
    }
    @media #{$mobile} {
      flex-basis: 75%;
    }
    @media #{$tablet} {
      flex-basis: 85%;
    }
    @media #{$notebook} {
      flex-basis: 65%;
    }
  }
  &__title {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
  &__text {
    padding-top: 1rem;
    line-height: 1.563rem;
  }
}
