@import "core/tools/tools";

.subscribe-form {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  margin: auto;
  @media #{$mobile} {
    width: 75%;
  }
  @media #{$tablet} {
    width: 55%;
  }
  @media #{$notebook} {
    width: 50%;
  }

  &__email {
    padding: 0.5rem;
    color: $text;
    outline: 0;
    flex-basis: 80%;
    @media #{$notebook} {
      flex-basis: 85%;
    }
  }

  &__send {
    width: 2.5rem;
    padding: 0.5rem;
    background: $orange;
    color: $secondary-text;
    border: 0.06rem solid transparent;
    transition: 0.8s;
    @media #{$mobile} {
      width: 3.75rem;
      padding: 0.9rem 0;
    }

    &:hover {
      background: transparent;
      color: $title;
      border: 0.06rem solid $title;
    }
  }
}
