@import "core/tools/tools";

.team {

  .team-card {
    display: flex;
    flex-direction: column;
    max-width: 20.63rem;
    margin: 1rem auto 0;
    @media #{$mobile} {
      flex-basis: 47%;
    }
    @media #{$tablet} {
      flex-basis: 48%;
      max-width: 100%;
    }
    @media #{$notebook} {
      flex-basis: 23%;
    }

    &__photo {
      width: 100%;
    }

    &__caption {
      padding: 1rem;
      background: $secondary-text;
    }

    &__name {
      color: $orange;
      font-weight: bold;
    }

    &__position {
      padding: 0.5rem 0;
    }

    .social {
      display: flex;
      justify-content: space-around;
      width: 50%;
      &__item {
        width: 1.875rem;
        height: 1.875rem;
        font-size: $base-font-size;
        transition: 0.8s;
        display: flex;

        &--facebook:hover {
          color: $secondary-text;
          background: #3b5998;
        }

        &--twitter:hover {
          color: $secondary-text;
          background: #55acee;
        }
        &--rss:hover {
          color: $secondary-text;
          background: #f26522;
        }

        & i {
          margin: auto;
        }
      }
    }
  }
}
