// Vars
$title-font: 'Pacifico', cursive;
$text-font: 'Roboto Condensed', sans-serif;
$item-font: 'Open Sans', sans-serif;

$base-font-size: 1rem;
$text-font-size: 0.875rem;
$title-font-size-mobile: 1.5rem;
$title-font-size-tablet: 2rem;
$title-font-size-desktop: 2.5rem;
