//Small mobile
$small-mobile: "screen and (min-width:321px)";

//Mobile
$mobile: "screen and (min-width: 481px)";

// Tablet
$tablet: "screen and (min-width: 768px)";

// Notebook
$notebook: "screen and (min-width: 991px)";

// Desktop
$desktop: "screen and (min-width: 1024px)";
